@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

body, input {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 300;
}

#description {
    background-image:
    radial-gradient(ellipse closest-side,
    rgba(0,0,0,0), rgba(0,0,0,.5)),
    url("../img/seattle_skyline.jpg");
    background-attachment: fixed;
    color: rgba(0, 0, 0, 0.5);
    background-size: cover;
    /*background-position: 0px -200px;*/
    color: whitesmoke;
}

#map {
    height: 800px;
    margin: 0;
    padding: 0;
}

.filter-zone {
    padding-bottom: 1em;
}

#dropdownMenu1 {
    width: 100%;
}

#dropdown-items {
    width: 100%;
}

#clear {
    background-color: lightgoldenrodyellow;
}

#filter-level-1, #filter-level-2{
    padding: 0;
    margin: 0;
}

.container input {
    width: 100%;
    margin-bottom: 3em;
}

.project-overview, .project-purpose {
    opacity: 0.5;
}

.project-overview:hover, .project-purpose:hover {
    border-left: 2px solid #614126;
    opacity: 1.0;
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
}

.title-main, .title-subtitle, .title-description, .title-center {
    font-family: 'Lato', sans-serif;
}

.title-main {
    font-size: 500%;
    font-weight: 700;
    text-align: center;
}

.title-subtitle {
    font-size: 500%;
    font-weight: 300;
    text-align: center;
}

.title-description {
    font-weight: 400;
}

.title-center {
    text-align: center;
}

p {
    font-size: 18px;
}

section {
    padding-bottom: 2em;
}